@import '../variables';
@import './basics';

@include Content;

.container {
    height: 80vh;
    width: 80vw;
    max-width: 500px;
    max-height: 550px;
    border: 3px solid $gray;
    border-radius: 10px;
    padding-inline: min(5vw, 50px);
    padding-top: 50px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.161);
    display: flex;
    flex-flow: column;
    padding-bottom: 20px;
    gap: 4em;
    background-color: #E9E9E9;
    
    h1 {
        font-family: 'Oxygen Mono', monospace;
        text-transform: uppercase;
        font-size: clamp(1.6rem, 5vw, 2.2rem);
        position: relative;
        width: max-content;
        color: $green;

        &::after {
            content: '';
            position: absolute;
            background-color: $green;
            height: 4px;
            width: 100%;
            bottom: 0;
            right: -1.5px;
        }
    }
}

.confirm_actions {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    font-family: 'Inter', sans-serif;

    button {
        width: 100%;
        padding-block: .3em;
        font-family: 'Baloo Bhai 2', cursive;
        font-weight: 800;
        font-size: 1.4rem;
        border-radius: 10px;
        background-color: $cream;
        border: 0;
        cursor: pointer;
        color: #E9E9E9;

        &:hover {
            opacity: .9;
        }

        &:active {
            opacity: .8;
        }
    }

    span {
        font-size: clamp(.75rem, 2.5vw, .85rem);

        a {
            color: $light-cream;
            opacity: .8;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    span[id='error'] {
        color: red;
        font-family: 'Baloo Bhai 2';
        font-size: 1rem;
    }
}

.links {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: .5em;
    margin-top: 10px;

    .forgot_p {
        font-size: .85rem;
        color: $green;
        font-size: clamp(.75rem, 2.5vw, .85rem);

        &:hover {
            text-decoration: underline;
        }
    }
}

.error {
    p {
        color: red !important;
        font-size: clamp(.75rem, 5vw, .9rem);
        font-family: 'Baloo Bhai 2', cursive;
        font-weight: 600;
        position: absolute;
        bottom: -23px;
    }
    div::after {
        content: '';
        border: 0 !important;
        display: none !important;
    }

    div::before {
        border-color: red !important;
    }

    div:hover::before {
        content: '';
        border-color: red !important;
    }
}

@media screen and (max-height: 633px) {
    .container {
        overflow-y: scroll;

        @include Scrollbar;
    }
}