@import '../basics';
@import '../../variables';

@include Container;

.container {
    justify-content: flex-start;
    padding-top: 0;
    padding-inline: 0;
}

.tools {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        transition: all 0.35s;
        width: 100%;
    }
    
    img[id='arrow']:hover {
        cursor: pointer;
        background-color: rgb(220, 220, 220);
    }

}

.friends_container {
    padding-inline: 30px;
    box-sizing: border-box;
    overflow: hidden;

    input {
        width: 100%;
        padding-block: .6em;
        padding-left: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1rem;

        &:focus, &:focus-within, &:focus-visible {
            outline: none;
        }
    }
}

.values {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    gap: 1em;
    overflow-y: scroll;
    height: 340px;
}

.value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1em;
    font-family: 'Baloo Bhai 2';
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    padding-block: .4em;
    background-color: rgb(250, 250, 250);

    button {
        font-family: 'Baloo Bhai 2';
        background-color: green;
        border: 0;
        border-radius: 5px;
        padding-inline: 1.3em;
        padding-block: .5em;
        color: white;
        cursor: pointer;

        &[id='reject'] {
            background-color: red;
        }

        &[id='accept'] {
            background-color: green;
        }

        &:hover {
            opacity: .9;
        }

        &:active {
            opacity: .8;
        }
    }
}

.up_list, .down_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down_list {
    margin-top: 20px;
    height: 50px;
    transition: all .25s;
    overflow: hidden;

    button {
        font-family: 'Baloo Bhai 2';
        border: 0;
        border-radius: 5px;
        padding-inline: 1.3em;
        padding-block: .5em;
        color: white;
        cursor: pointer;

        &[id='block'] {
            background-color: red;
        }

        &[id='unfriend'] {
            background-color: purple;
        }

        &:hover {
            opacity: .9;
        }

        &:active {
            opacity: .8;
        }
    }
}

.buttons {
    display: flex;
    gap: 1em;
}

.close {
    margin: 0;
    height: 0px;
    white-space: nowrap;
    visibility: collapse;
}

.friend {
    padding-inline: 1em;
    font-family: 'Baloo Bhai 2';
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    padding-block: .4em;
    background-color: rgb(250, 250, 250);
    transition: all .35s;

    img {
        cursor: pointer;
    }
}

.none {
    font-family: 'Oxygen Mono';
}