@import '../variables';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://res.cloudinary.com/multimediarog/image/upload/v1655894930/MessagingApp/v748-toon-111_zprbkh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mess_container {
    width: 65vw;
    height: 85vh;
    border: 3px solid $gray;
    border-radius: 10px;
    background-color: #E9E9E9;
    display: flex;
} 

.flex_list {
    display: flex;
    flex-flow: column wrap;
    border-right: 2px solid $gray;
}

.header {
    position: relative;
    height: 90px;
    width: 100%;
    border-bottom: 3px solid $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    background-color: #e2e2e2;
    border-radius: 10px 0px 0 0;

    h2 {
        font-family: 'Baloo Bhai 2';
    }

    img[id='opt'] {
        transition: all .25s;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgb(215, 215, 215);
        }
    }
}

.headline {
    display: flex;
    align-items: center;
    gap: .2em;
}

.replacer {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}